.album-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-description {
  margin-top: 100px;
}

.artist-container {
  display: flex;
  flex-direction: column;
}

.track-container {
  display: flex;
  flex-direction: column;
}
